{{#if text}}
    <div class="message message__{{owner}} message__{{type}}">
        <p>{{text}}</p>
        <small class="message__timestamp">{{timestamp}}</small>
    </div>
{{else if photo}}
    <div class="message message__{{owner}} message__img">
        <img src="{{photo}}" alt="message photo">
        <small class="message__timestamp-img">{{timestamp}}</small>
    </div>
{{/if}}

