<div class='container'>
  <form class='singIn-form'>
    <h1 class='singIn-title'>Вход</h1>
    <div class='singIn-input-group'>
      {{{Input label='Логин' placeholder='Логин'}}}
      {{{Input label='Почта' type='email' name='email'}}}
      {{{Input label='Логин' name='login'}}}
      {{{Input label='Имя' name='first_name'}}}
      {{{Input label='Фамилия' name='second_name'}}}
      {{{Input label='Телефон' type='phone' name='phone'}}}
      {{{Input label='Пароль' type='password' name='password'}}}
      {{{Input label='Пароль(еще раз)' type='password' name='password'}}}
    </div>
    {{{Button label='Зарегистрироваться' type='primary'}}}
    {{{Button label='Войти' type='link'}}}
  </form>
</div>