<div class="user-profile__container">
    {{{ UserProfileGoBack  }}}
    <section class="user-profile__edit">
        {{{ UserProfileTitles name="Иван" }}}
        <form class="user-profile-edit__grid">
            {{{ UserProfileInputElement label="Почта" placeholder="pochta@yandex.ru" disabled=false type="email" name="email" }}}
            {{{ UserProfileInputElement label="Логин" placeholder="ivanivanov" disabled=false type="text" name="login"  }}}
            {{{ UserProfileInputElement label="Имя" placeholder="Иван" disabled=false type="text" name="first_name"  }}}
            {{{ UserProfileInputElement label="Фамилия" placeholder="Иванов" disabled=false type="text" name="second_name" }}}
            {{{ UserProfileInputElement label="Имя в чате" placeholder="Иван" disabled=false type="text" name="display_name" }}}
            {{{ UserProfileInputElement label="Телефон" placeholder="+7(909)96730 30" disabled=false type="phone" name="phone"  }}}
        </form>
        <div class="user-profile-edit__container">
        {{{ Button type="primary" label="Сохранить" }}}
        </div>
    </section>
</div>

