{{{Modal  }}}
<section class="chat-section">
    {{#if chat }}}
    <div class="chat-section__title-wrapper">
        <div class="chat-section__titles">
            {{{ ChatAvatar  }}}
            <h2>Вадим</h2>
            <div class="chat-section__options">
                {{{ IconButton buttonIcon="./src/assets/icons/moreIcon.svg"  }}}
                {{{ FriendControls }}}
            </div>
        </div>
    </div>
    <div class="chat-section__chat-container">
        <div class="chat-section__message-list">
            {{#each messages }}}
                {{{ Message }}}
            {{/each }}}
        </div>
            <form class="chat-section__form">
                {{{ AddFileDropDown  }}}
                {{{ IconButton buttonIcon="./src/assets/icons/clip.svg"  }}}
                <input class="chat-section__input" placeholder="Сообщение" type="text" name="message">
                {{{ IconButton buttonIcon="./src/assets/icons/arrow.svg" direction="right"  }}}
            </form>
    </div>
    {{else }}}
        <div class="chat-section__chat-window-empty">
            <small>Выберите чат чтобы отправить сообщение</small>
        </div>
    {{/if }}}
</section>

